@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:ital@1&family=Poppins&family=Roboto+Condensed&display=swap');

::selection {
    color: white;
    background: rgb(21, 150, 255);
  }

#login{
  background-image: url('./images/happy\ shopping\ light\ spot\ poster_1035507.jpg'); 
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position:initial;
  position: absolute;
}

#signup{
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/623/464/non_2x/concept-of-shopping-online-with-smart-phone-on-blue-sky-background-vector.jpg'); 
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position:initial;
  position: absolute;
}

.active-nav{
    display: inline-block;
    padding-bottom:4px;
    background-image: linear-gradient(rgb(243 244 246),rgb(243 244 246));
    background-position: 100% 100%; 
    background-size: 100% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.5s,
      background-position 0s 0.5s; /*change after the size immediately*/

}


.navlink{
  display: inline-block;
  padding-bottom:4px;
  background-image: linear-gradient(rgb(243 244 246),rgb(243 244 246));
  background-position: 0 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.5s,
    background-position 0s 0.5s; /*change after the size immediately*/

}
.navlink:hover {
    background-position: 100% 100%; 
    background-size: 100% 2px;
  }

  