@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:ital@1&family=Poppins&family=Roboto+Condensed&display=swap');

::selection {
    color: white;
    background: rgba(193, 79, 17, 0.61);
  }

#login{
  background-image: url('./images/happy\ shopping\ light\ spot\ poster_1035507.jpg'); 
  background-position: center;
  background-repeat: no-repeat ;
  background-size: contain;
  background-position:initial;
  position: absolute;
}

#signup{
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/623/464/non_2x/concept-of-shopping-online-with-smart-phone-on-blue-sky-background-vector.jpg'); 
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
  background-position:initial;
  position: absolute;
}